body {
  background-image: url("https://preview.redd.it/9hqo8nyfhpi01.png?width=960&crop=smart&auto=webp&s=bdda547f3503d9134db1699ddda295c3fc650cba");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  color: darkorange
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid lightgray;
  // background-color: powderblue;
}

.grid-commands-wrapper {
  display: flex;
  justify-content: center;
}

.grid-cell-row {
  display: flex;
}

.grid-cell-item {
  padding: 10px;
  border: 2px solid lightgray;
  width: 60px;
  height: 60px;
}

.cell-id {
  display: flex;
  justify-content: center;
}

.roverdog {
  width: 50px;
  display: flex;
  margin: 0 auto;
}

.active {
  background-color: pink;
}

section {
  margin-right: 20px;
  margin-left: 20px;
}

.rovermovment-deleterover-wrapper {
  display: flex;
  flex-direction: column;
}

.delete-rover-button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.delete-rover-button {
}

.deploy-rover-button-wrap {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.move-rover-button-wrap {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

/////////////////////////////////////////////  BUTTON  /////////////////////////////////////////

button {
    cursor: pointer;
    width: 150px;
    position: relative;
    padding: 0.5rem 1.5rem;
    border-radius: 3.75rem;
    line-height: 2.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    border: 1px solid #6482c5;
    background-image: linear-gradient(-180deg, #d3f9ff 0%, #1f93c0 100%);
    box-shadow: 0 1rem 1.25rem 0 rgb(133 23 189 / 50%), 0 -0.25rem 1.5rem #473bb7 inset, 0 0.75rem 0.5rem rgb(255 255 255 / 40%) inset, 0 0.25rem 0.5rem 0 #b836d8 inset;
}

button span {
	color: transparent;
	background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

button::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

button::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

/////////////////////////////////////////////  BUTTON  /////////////////////////////////////////




.grid-wrapper {
  cursor: pointer;
  width: 450px;
  position: relative;
  // padding: 0.5rem 1.5rem;
  // border-radius: 3.75rem;
  // line-height: 2.5rem;
  font-size: 0.8rem;
  // font-weight: 600;
  // border: 1px solid #6482c5;
  background-image: linear-gradient(-180deg, #d3f9ff 0%, #1f93c0 100%);
  box-shadow: 0 1rem 1.25rem 0 rgb(133 23 189 / 50%), 0 -0.25rem 1.5rem #473bb7 inset, 0 0.75rem 0.5rem rgb(255 255 255 / 40%) inset, 0 0.25rem 0.5rem 0 #b836d8 inset;
}

.grid-wrapper span {
color: transparent;
background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
// -webkit-background-clip: text;
// background-clip: text;
filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

.grid-wrapper::before {
content: "";
display: block;
// height: 0.25rem;
position: absolute;
// top: 0.5rem;
// left: 50%;
transform: translateX(-50%);
// width: calc(100% - 7.5rem);
background: #fff;

opacity: 0.7;
background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.grid-wrapper::after {
content: "";
display: block;
height: 0.25rem;
position: absolute;
bottom: 0.75rem;
left: 50%;
transform: translateX(-50%);
width: calc(100% - 7.5rem);
background: #fff;

filter: blur(1px);
opacity: 0.05;
background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}


input {
  border-radius: 50px;
  padding: 10px
}

label {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px
}