body {
  background-image: url("https://preview.redd.it/9hqo8nyfhpi01.png?width=960&crop=smart&auto=webp&s=bdda547f3503d9134db1699ddda295c3fc650cba");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  color: darkorange
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid darkgray;
  background-color: powderblue;
}

.grid-commands-wrapper {
  display: flex;
  justify-content: center;
}

.grid-cell-row {
  display: flex;
}

.grid-cell-item {
  padding: 10px;
  border: 2px solid darkgray;
  width: 60px;
  height: 60px;
}

.cell-id {
  display: flex;
  justify-content: center;
}

.roverdog {
  width: 50px;
  display: flex;
  margin: 0 auto;
}

.active {
  background-color: pink;
}

section {
  margin-right: 20px;
  margin-left: 20px;
}

.rovermovment-deleterover-wrapper {
  display: flex;
  flex-direction: column;
}

.delete-rover-button-wrap {
  display: flex;
  // justify-content: center;
}

// .delete-rover-button {
//   display: flex;
//   justify-content: center;
// }
